header{
	background: url('images/header-bg-img.png') no-repeat center top / cover;
	height: 100vh;
	position: relative;
}

body {
    font-family: auto;
    src: url('fonts/Muli-BoldItalic.ttf') format('ttf'), 
    url('fonts/Muli-ExtraBold.woff') format('woff'),
    url('fonts/Muli-Bold.ttf') format('ttf');
    font-style: normal;
    font-display: swap;
    margin: 0;
}
.header-content a{
    background-color: rgb(10, 165, 102);
    display: flex;
    border: none;
    width: 250px;
    margin-top: 80px;
    position: absolute;
    font-size: 24px;
    padding: 22px 25px;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    transform: translateX(13%);
    font-weight: 600;
}
  
ul.nav_menu-list li a {
    font-size: 19px !important;
    font-weight: 400;
    color: #fff !important;
    text-decoration: none;
    margin-right: 30px;
    /* list-style: none; */
}

ul.nav_menu-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    max-width: 460px;
    align-items: center;
    width: 100%;
}

.header-top {
    display: flex;
    max-width: 1720px !important;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 70px;
}

.lists_icon {
    display: flex;
    justify-content: space-between;
    max-width: 410px;
    align-items: center;
    padding-right: 40px;
    width: 100%;
}

.personal ul {
    display: flex !important;
    list-style: none;
}

.personal ul li {
    margin-right: 35px;
}

.social ul {
    display: flex;
    justify-content: space-between;
    max-width: 140px;
    list-style: none;
    width: 100%;
}

.header-content button {
    background-color: rgb(10, 165, 102);
    display: flex;
    border: none;
    width: 250px;
    margin-top: 80px;
    font-size: 24px;
    padding: 22px 25px;
    position: absolute;
    top: 16%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: #fff;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    transform: translateX(-50%);
    font-weight: 600;
}

section.smoothies h2 {
    color: #f7ae3b;
    font-size: 50px;
    text-align: center;
}

section.smoothies p {color: #1e1e1e;font-size: 18px;font-weight: 600;line-height: 35px;padding-bottom: 61px;text-align: center;}

section.smoothies {
    max-width: 980px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 150px;
}

.different_smoothies span {
    font-size: 25px;
    color: #f2612d;
    font-weight: 600;
    line-height: 45px;
    display: block;
    text-align: center;
}

.different_smoothies {
    display: flex;
    width: 100%;
    /* position: relative; */
    justify-content: space-between;
    align-items: center;
}

.different_smoothies div {
    width: 25%;
    margin-top: 20px;
}

.different_smoothies div img {
    margin: 0 auto;
    display: block;
}

.different_smoothies-lines.lines {
    /* position: absolute; */
}

.different_smoothies-lines.lines {}

img.lines__2 {
    position: absolute;
    left: 25%;
    top: 47%;
}

img.lines__3 {/* right: -103%; */position: absolute;left: 50%;top: 47%;}

img.lines__1 {
    position: absolute;
    left: 75%;
    top: 47%;
}

section.about {
    /* background: #11806d; */
    display: flex;
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
    width: 100%;
    padding-bottom: 100px;
    align-items: flex-start;
}

img.about_bg {
    padding-top: 60px;
    right: 49%;
    position: absolute;
    margin-left: 50px;
    z-index: 3;
}

.about__title {
    margin-left: auto;
    padding-top: 31px;
    position: relative;
    max-width: 560px;
    /* width: 50%; */
    padding-left: 60px;
    margin-right: 80px;
}

.about__title h3 span {
    font-size: 55px;
    color: #cae941;
    font-weight: 100;
}

.about__title h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 500;
    position: relative;
}

img {}

img.about__title-img {
    position: absolute;
    top: 29%;
    left: 10%;
}

ul.list_smoothies_about li {
    font-size: 21px;
    color: #fff;
    padding-bottom: 15px;
}

ul.list_smoothies_about {
    list-style: none;
    padding-top: 30px;
}

span.strong {
    font-weight: 600;
    margin-right: 3px;
}

a {
}

a.about__title-btn {
    display: block;
    border: 3px solid #f8b231;
    max-width: 326px;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    border-radius: 53px;
    font-size: 22px;
    padding: 25px;
    text-decoration: none;
    font-weight: 700;
}

a.about__title-btn img {
    padding-left: 30px;
}

ul.list_smoothies_about li img {
    padding-right: 20px;
}

.bg_for_about {
    background: #11806d;
}

.product__holder1 {
    background: url('images/Holder1.png') no-repeat center top / cover;
}
.product__holder2 {
    background: url('images/Holder2.png') no-repeat center top / cover;
}
.product__holder3 {
    background: url('images/Holder3.png') no-repeat center top;
}
.product__holder4 {
    background: url('images/Holder4.png') no-repeat center top / cover;
}
.product__holder4,.product__holder3,.product__holder2,.product__holder1{
    position: relative;
}
section.product {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,720px);
    height: 720px;
}

.product__holder-item {
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
    grid-auto-rows: auto;
    top: 15%;
    left: 20%;
}

.product__holder-item p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.product__holder-item a {
    display: inline-block;
    width: 158px;
    text-decoration: none;
    margin-top: 65px;
    color: #fff !important;
    display: flex;
    font-weight: 600;
    font-size: 21px;
    border: 2px solid #fff;
    border-radius: 50px;
    justify-content: space-around;
    padding: 19px;
}

.product__holder-item p span {
    font-size: 18px;
    font-weight: 100;
}

.story__block::before {
    content: url('images/Stamp.png');
    position: absolute;
    top: 7%;
    left: -29%;
}

.story__block {
    position: relative;
}

section.story {
    max-width: 1310px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 120px;
    margin: 0 auto;
    justify-content: space-between;
}

.story__title {
    width: 515px;
}

.story__title h2 {
    font-size: 52px;
    color: #f7ae3b;
}

.story__title p {
    font-size: 18px;
    line-height: 1.944;
    text-align: left;
}

.story__title a {
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 228px;
    padding: 18px 36px;
    margin-top: 60px;
    background: #0aa566;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
}

.header-content {
    position: relative;
    display: flex;
    justify-content: center;
}